app/vendors/directi/wsdl/DomFwdOrder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" xmlns:intf="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="Vector" nillable="true" type="apachesoap:Vector"/>
  </schema>
  <schema targetNamespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_int">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_int" nillable="true" type="impl:ArrayOf_xsd_int"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDetailsByDomainResponse">

      <wsdl:part name="getDetailsByDomainReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="modRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="entityId" type="xsd:int"/>

      <wsdl:part name="forward" type="xsd:string"/>

      <wsdl:part name="urlMasking" type="xsd:boolean"/>

      <wsdl:part name="subdomainForwarding" type="xsd:boolean"/>

      <wsdl:part name="noframes" type="xsd:string"/>

      <wsdl:part name="headerTags" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="manageDomainForwardServiceResponse">

   </wsdl:message>

   <wsdl:message name="listResponse">

      <wsdl:part name="listReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDetailsResponse">

      <wsdl:part name="getDetailsReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="listRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="resellerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="customerId" type="impl:ArrayOf_xsd_int"/>

      <wsdl:part name="showChildOrders" type="xsd:boolean"/>

      <wsdl:part name="currentStatus" type="impl:ArrayOf_xsd_string"/>

      <wsdl:part name="domainname" type="xsd:string"/>

      <wsdl:part name="forward" type="xsd:string"/>

      <wsdl:part name="checkUrlMasking" type="xsd:string"/>

      <wsdl:part name="checkPathForwarding" type="xsd:string"/>

      <wsdl:part name="checkSubDomainForwarding" type="xsd:string"/>

      <wsdl:part name="creationDTRangStart" type="xsd:string"/>

      <wsdl:part name="creationDTRangEnd" type="xsd:string"/>

      <wsdl:part name="endTimeRangStart" type="xsd:string"/>

      <wsdl:part name="endTimeRangEnd" type="xsd:string"/>

      <wsdl:part name="numOfRecordPerPage" type="xsd:int"/>

      <wsdl:part name="pageNum" type="xsd:int"/>

      <wsdl:part name="orderBy" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="deleteServiceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="entityId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDetailsByDomainRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

      <wsdl:part name="productkey" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="manageResponse">

      <wsdl:part name="manageReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="renewResponse">

      <wsdl:part name="renewReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="setupDomainFwdServiceResponse">

      <wsdl:part name="setupDomainFwdServiceReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="deleteServiceResponse">

      <wsdl:part name="deleteServiceReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="manageDomainForwardServiceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="domainName" type="xsd:string"/>

      <wsdl:part name="urlMasking" type="xsd:boolean"/>

      <wsdl:part name="subdomainForwarding" type="xsd:boolean"/>

      <wsdl:part name="forward" type="xsd:string"/>

      <wsdl:part name="noframes" type="xsd:string"/>

      <wsdl:part name="headerTags" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="setupDomainFwdServiceRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderID" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="renewRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="domainHash" type="apachesoap:Map"/>

      <wsdl:part name="invoiceOption" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="manageRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="entityId" type="xsd:int"/>

      <wsdl:part name="forward" type="xsd:string"/>

      <wsdl:part name="urlMasking" type="xsd:boolean"/>

      <wsdl:part name="subdomainForwarding" type="xsd:boolean"/>

      <wsdl:part name="noframes" type="xsd:string"/>

      <wsdl:part name="headerTags" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="modResponse">

      <wsdl:part name="modReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getDetailsRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="orderId" type="xsd:int"/>

      <wsdl:part name="option" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:portType name="DomFwdOrder">

      <wsdl:operation name="renew" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID domainHash invoiceOption">

         <wsdl:input message="impl:renewRequest" name="renewRequest"/>

         <wsdl:output message="impl:renewResponse" name="renewResponse"/>

      </wsdl:operation>

      <wsdl:operation name="manage" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID entityId forward urlMasking subdomainForwarding noframes headerTags">

         <wsdl:input message="impl:manageRequest" name="manageRequest"/>

         <wsdl:output message="impl:manageResponse" name="manageResponse"/>

      </wsdl:operation>

      <wsdl:operation name="deleteService" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID entityId">

         <wsdl:input message="impl:deleteServiceRequest" name="deleteServiceRequest"/>

         <wsdl:output message="impl:deleteServiceResponse" name="deleteServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetails" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId option">

         <wsdl:input message="impl:getDetailsRequest" name="getDetailsRequest"/>

         <wsdl:output message="impl:getDetailsResponse" name="getDetailsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByDomain" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID domainName option productkey">

         <wsdl:input message="impl:getDetailsByDomainRequest" name="getDetailsByDomainRequest"/>

         <wsdl:output message="impl:getDetailsByDomainResponse" name="getDetailsByDomainResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setupDomainFwdService" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderID">

         <wsdl:input message="impl:setupDomainFwdServiceRequest" name="setupDomainFwdServiceRequest"/>

         <wsdl:output message="impl:setupDomainFwdServiceResponse" name="setupDomainFwdServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="manageDomainForwardService" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID domainName urlMasking subdomainForwarding forward noframes headerTags">

         <wsdl:input message="impl:manageDomainForwardServiceRequest" name="manageDomainForwardServiceRequest"/>

         <wsdl:output message="impl:manageDomainForwardServiceResponse" name="manageDomainForwardServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="add" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID domainHash customerId invoiceOption">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="list" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID orderId resellerId customerId showChildOrders currentStatus domainname forward checkUrlMasking checkPathForwarding checkSubDomainForwarding creationDTRangStart creationDTRangEnd endTimeRangStart endTimeRangEnd numOfRecordPerPage pageNum orderBy">

         <wsdl:input message="impl:listRequest" name="listRequest"/>

         <wsdl:output message="impl:listResponse" name="listResponse"/>

      </wsdl:operation>

      <wsdl:operation name="mod" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID entityId forward urlMasking subdomainForwarding noframes headerTags">

         <wsdl:input message="impl:modRequest" name="modRequest"/>

         <wsdl:output message="impl:modResponse" name="modResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DomFwdOrderServiceSoapBinding" type="impl:DomFwdOrder">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="renew">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="renewRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="renewResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="manage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="manageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="manageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDetailsByDomain">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDetailsByDomainRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDetailsByDomainResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setupDomainFwdService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setupDomainFwdServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setupDomainFwdServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="manageDomainForwardService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="manageDomainForwardServiceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="manageDomainForwardServiceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="list">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="mod">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domainfwd.DomainFwd" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DomFwdOrderService">

      <wsdl:port binding="impl:DomFwdOrderServiceSoapBinding" name="DomFwdOrderService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
