app/vendors/directi/wsdl/DotCoopContact.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" xmlns:intf="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item">
      <complexType>
       <all>
        <element name="key" type="xsd:anyType"/>
        <element name="value" type="xsd:anyType"/>
       </all>
      </complexType>
     </element>
    </sequence>
   </complexType>
   <element name="Map" nillable="true" type="apachesoap:Map"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSponsorsListResponse">

      <wsdl:part name="getSponsorsListReturn" type="apachesoap:Map"/>

   </wsdl:message>

   <wsdl:message name="getSponsorsListRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="customerId" type="xsd:int"/>

      <wsdl:part name="registrantContactId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addSponsorRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addSponsorResponse">

      <wsdl:part name="addSponsorReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addCoopContactResponse">

      <wsdl:part name="addCoopContactReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addCoopContactRequest">

      <wsdl:part name="SERVICE_USERNAME" type="xsd:string"/>

      <wsdl:part name="SERVICE_PASSWORD" type="xsd:string"/>

      <wsdl:part name="SERVICE_ROLE" type="xsd:string"/>

      <wsdl:part name="SERVICE_LANGPREF" type="xsd:string"/>

      <wsdl:part name="SERVICE_PARENTID" type="xsd:int"/>

      <wsdl:part name="name" type="xsd:string"/>

      <wsdl:part name="company" type="xsd:string"/>

      <wsdl:part name="emailAddr" type="xsd:string"/>

      <wsdl:part name="address1" type="xsd:string"/>

      <wsdl:part name="address2" type="xsd:string"/>

      <wsdl:part name="address3" type="xsd:string"/>

      <wsdl:part name="city" type="xsd:string"/>

      <wsdl:part name="state" type="xsd:string"/>

      <wsdl:part name="country" type="xsd:string"/>

      <wsdl:part name="zip" type="xsd:string"/>

      <wsdl:part name="telNoCc" type="xsd:string"/>

      <wsdl:part name="telNo" type="xsd:string"/>

      <wsdl:part name="faxNoCc" type="xsd:string"/>

      <wsdl:part name="faxNo" type="xsd:string"/>

      <wsdl:part name="customerId" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="DotCoopContact">

      <wsdl:operation name="addSponsor" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID name company emailAddr address1 address2 address3 city state country zip telNoCc telNo faxNoCc faxNo customerId">

         <wsdl:input message="impl:addSponsorRequest" name="addSponsorRequest"/>

         <wsdl:output message="impl:addSponsorResponse" name="addSponsorResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSponsorsList" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID customerId registrantContactId">

         <wsdl:input message="impl:getSponsorsListRequest" name="getSponsorsListRequest"/>

         <wsdl:output message="impl:getSponsorsListResponse" name="getSponsorsListResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addCoopContact" parameterOrder="SERVICE_USERNAME SERVICE_PASSWORD SERVICE_ROLE SERVICE_LANGPREF SERVICE_PARENTID name company emailAddr address1 address2 address3 city state country zip telNoCc telNo faxNoCc faxNo customerId">

         <wsdl:input message="impl:addCoopContactRequest" name="addCoopContactRequest"/>

         <wsdl:output message="impl:addCoopContactResponse" name="addCoopContactResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DotCoopContactServiceSoapBinding" type="impl:DotCoopContact">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addSponsor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addSponsorRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addSponsorResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSponsorsList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSponsorsListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSponsorsListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCoopContact">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCoopContactRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addCoopContactResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="com.logicboxes.foundation.sfnb.order.domorder.DotCoopContact" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DotCoopContactService">

      <wsdl:port binding="impl:DotCoopContactServiceSoapBinding" name="DotCoopContactService">

         <wsdlsoap:address location="http://demo.myorderbox.com/anacreon/servlet/APIv3"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
